# Dictionary

In [10]:
student_1 = {
    "name": "shyam",
    'age': 22,
    'level': "Bachelor"
    }
# type(student_1)
student_1['name']='ram'
print(student_1)

{'name': 'ram', 'age': 22, 'level': 'Bachelor'}

In [23]:
def fun(selectedData):
  selectedData['name']='newVal'
  print("Selected Data: ",selectedData)

student=[
    {
        'id':1,
        'name':'xyz'
    },
    {
        'id':2,
        'name':'pqr'
    },
    {
        'id':3,
        'name':'ram'
    },
    {
        'id':4,
        'name':'hari'
    }
]
selectedData=student[2]
fun(selectedData)
print("Student: ",student)

Selected Data:  {'id': 3, 'name': 'newVal'}
Student:  [{'id': 1, 'name': 'xyz'}, {'id': 2, 'name': 'pqr'}, {'id': 3, 'name': 'newVal'}, {'id': 4, 'name': 'hari'}]

In [ ]:
student=dict()
print(type(student))

<class 'dict'>

In [2]:
d={}
print(type(d))

<class 'dict'>

# Exercises
1. Create a dictionary with keys and values of different data types.
2. Access keys of the dictionary.
3. Access values of the dictionary.
4. Access items of the dictionary.
5. add two new key value pair in the dictionary created above.
6. Create an empty dictionary and add new key value pair.

This is the dictionary in python. Dictionary has key and value pair. Each key is connected to a value, and you can use a key to access a value associated with that key. You can have an unlimited number of key-value pairs in a dictionary.

- Dictionary store data in **key** : **value** pairs in a single variable.

- Collection of items which is ordered, changeable and donot allow dublicates.

Let's print the dictionary we created above.

In [ ]:
print(student_1)

{'name': 'Ram', 'age': 22, 'level': 'Bachelor'}

- The values in dictionary items can be of any data type:

In [ ]:
vehicles_info = {
  "vehicle": "Car",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(type(vehicles_info))

<class 'dict'>

### Accesing the items

- use key name to access the items.

In [ ]:
student_1 = { "name": "ram", 'age': 22, 'level': "Bachelor"}
print(student_1)

{'name': 'ram', 'age': 22, 'level': 'Bachelor'}

In [ ]:
# student_1["name"]
x= student_1.get('Name', 'not found')
if x!='not found':
  print(x)

In [ ]:
student_1.get("name")

'Ram'

- keys() - return a list of all keys in a dictionary.

In [ ]:
# Return keys in the dictionary
student_1.keys()

dict_keys(['name', 'age', 'level'])

- values() - return a list of all the values in the dictionary.

In [ ]:
student_1.values()

dict_values(['Ram', 22, 'Bachelor'])

- items() - return each item in a dictionary.

In [ ]:
student_1.items()

dict_items([('name', 'Ram'), ('age', 22), ('level', 'Bachelor')])

In [ ]:
d={1:'one',2:'two',3:'three'}
print(d.items())
for k,v in [(1, 'one'), (2, 'two'), (3, 'three')]:
  print(f"{k}=>{v}")

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])
1=>one
2=>two
3=>three

In [ ]:
l=['a','b','c']
print(list(enumerate(l)))

[(0, 'a'), (1, 'b'), (2, 'c')]

**Key Value Pairs in Dictionary**

Dictionaries are dynamic structures, and you can add new key-value pairs to a dictionary at any time.

For example, to add a new key-value pair, you would give the name of the dictionary followed by the new key in square brackets along with the new value.

In [ ]:
# Add new key-value pair
student_1 = { "name": "ram", 'age': 22, 'level': "Bachelor"}
student_1['section'] = 'A'
student_1['position'] = 10
print(student_1)

{'name': 'ram', 'age': 22, 'level': 'Bachelor', 'section': 'A', 'position': 10}

Let's create a empty dictionary

In [ ]:
#We create an empty dictionary and view the type
student_2 = {}
type(student_2)

dict

In [ ]:
#Adding value to the dictionary
student_2['name'] = 'Shyam'
student_2['age'] = 2
student_2['level'] = 'Bachelor'

In [ ]:
#Printing the student_2
print(student_2)

{'name': 'Shyam', 'age': 2, 'level': 'Bachelor'}

We can also modify the content of the dictionary.

In [ ]:
#Assigning the new value to the student info
student_2['age'] = 23

print(student_2)

{'name': 'Shyam', 'age': 23, 'level': 'Bachelor'}

### Update dictionary
- update() method will update items in the dictionary.

In [ ]:
student_1.update({"age" : 34})
student_1["age"]=18
print(student_1)

{'name': 'ram', 'age': 18, 'level': 'Bachelor', 'section': 'A', 'position': 10}

### Remove items
- remove() funtion to remove items from the dictionary.

In [ ]:
student_1 = {'name': "Ram", 'age': 22, 'level': "Bachelor"}
student_1.pop("name")
print(student_1)

{'age': 22, 'level': 'Bachelor'}

- popitem() removes the last inserted item in the dictionary.

In [ ]:
student_1 = {'name': "Ram", 'age': 22, 'level': "Bachelor"}
# student_1['a']=1
# print(student_1)
student_1.popitem()
print(student_1)

{'name': 'Ram', 'age': 22}

### Remove items using del keyword

In [ ]:
del student_1["name"]

KeyError: ignored

# Looping Through keys and Values in Dictionary

A dictionary always maintains a clear connection between each key and
its associated value, but you never get the items from a dictionary in any
predictable order.

In [ ]:
student_1 = {"name": "Ram", 'age': 22, 'level': "Bachelor"}
del student_1
# type(student_1)

In [ ]:
#Looping through keys
for name in student_1.keys():
  print(name)

In [ ]:
#Looping through values
for l in student_1.values():
  print(l)

### Copy dictionary
- copy() method is used to copy the dictionary.

In [ ]:
mydict = student_1.copy()
print(mydict)

#Nesting of dictionary

You can nest a set of dictionaries inside a list, a list of items inside a dictionary, or even a dictionary inside another dictionary.

**1. Dicitionary in the list**

We can create a list of dictionary in python.

In [ ]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}

# Creating the list of aliens
aliens = [alien_0, alien_1, alien_2]
print(aliens)

[{'color': 'green', 'points': 5}, {'color': 'yellow', 'points': 10}, {'color': 'red', 'points': 15}]

2. **List inside a dictionary**

We can create a list of items inside a dictionary.

In [ ]:
fav_languages = {
     'Karishma': ['python']
    ,'Bijay': ['Java']
    ,'Manoj': 'R'
    ,'Upendra': ['C#', 'ASP .NET']
    ,'Shreeva': ['PHP', 'HTML', 'CSS']
}

print(fav_languages)

3. **Dictionary inside a dictionary**

In [ ]:
# creating dictionary within dictionary
Students = {'student_1': {'name': 'Harish', 'age': 27, 'gender': 'Male'},
          'student_2': {'name': 'Binod', 'age': 22, 'gender': 'male'},
          'student_3': {'name': 'Karina', 'age': 24, 'gender': 'Female'},
          'student_4': {'name': 'Lina', 'age': 29, 'gender': 'Male'}}

type(Students)

# Exercises
1. Create a dictionary with key value pairs.
2. Access keys of the dictionary.
3. Use update method to change values in the dictionary.
4. Copy dictionary created above to a new dictionary.
5. Create a list of three dictionaries.
6. Delete one item of the dictionary.

In [ ]:
person = {
    'name': 'John Doe',
    'age': 20,
    'gender': 'm'
}
print(person.keys())
# # iterating
# for i in person.values():
#     print(i)

for i in ['name', 'age', 'gender']:
    print(f'{i}->{person[i]}')

# for key, val in person.items():
#     print(f"person[{key}]: {val}")

dict_keys(['name', 'age', 'gender'])
name->John Doe
age->20
gender->m

In [ ]:
price_of_fruits = {
    'orange': 100,
    'watermelon': 120,
    'grapes': 90,
    'mango': 230,
    'apple': 200
}

# def func(*args,**kwargs):
#     print(args)
#     print(kwargs)
#     # for k,v in kwargs:
#     #     print(k,v)
# b=[2,3]
# a=1
# c=3.6
# d='bdjk'
# func(b,a,c,d,price_of_fruits,name="ram",k="hj",l="fdsa")

In [ ]:
std={
    'name':'omit',
     'roll':1,
     'age':10
}

def fun(name,age,roll):
  print(f'{name}=>{age}=>{roll}')

fun(**std)    # ** => unpack the dictionary into keyword arguments.

omit=>10=>1

In [ ]:
std={
    'name':'omit',
     'roll':1,
     'age':10
}
n=[1,'a','b',2]
k=1
l='hello'
m=23.982
def fun(*args,**kwargs):
  print("args=>",args)
  print("kwargs=>",kwargs)

fun(k,l,m,n,**std)

args=> (1, 'hello', 23.982, [1, 'a', 'b', 2])
kwargs=> {'name': 'omit', 'roll': 1, 'age': 10}